@charset "UTF-8";
/* CSS Document */
@font-face {
    font-family: "Gibson-SemiBold";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-semibold-webfont.eot?#iefix") format("eot"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-semibold-webfont.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-semibold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Gibson";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-webfont.eot?#iefix") format("eot"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-webfont.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/gibson/gibson-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-regular-webfont.eot?#iefix") format("eot"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-regular-webfont.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-regular-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-Bold";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-bold-webfont.eot?#iefix") format("eot"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-bold-webfont.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-bold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "ProximaNova-ExtraBold";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-extrabold-webfont.eot?#iefix") format("eot"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-extrabold-webfont.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/proximanova/proximanova-extrabold-webfont.ttf") format("truetype");
}
@font-face {
    font-family: "Caslon";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Regular.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Regular.ttf") format("truetype"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Regular.eot?#iefix") format("eot");
}
@font-face {
    font-family: "Caslon-Bold";
    src: url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Bold.woff") format("woff"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Bold.ttf") format("truetype"), url("https://marketingassets.cloudsna.com/prod/fonts/stansberry/caslon/ACaslonPro-Bold.eot?#iefix") format("eot");
}
body {
    margin: 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	overflow-wrap: break-word;
	background: url("https://s3.amazonaws.com/prediction2021event.com/portal/portal-bg.jpg") center / cover no-repeat fixed #000000;
}
a {
	color: #4991fd;
	text-decoration: none;
}
a:hover, a:focus {
	color: #2b7ffd;
	text-decoration: underline;
}
p, ul, li {
	color: #ffffff; 
	font-family: "Gibson", Helvetica, Arial, sans-serif;
	font-size: 20px;
	font-weight: 400;
	line-height: 1.4;
	margin: 0 auto 20px;
	max-width: none;
}
ul {
	list-style: none;
	padding-inline-start: 20px;
}
ul li.bullet-circle { 
	background: transparent url("https://s3.amazonaws.com/prediction2021event.com/portal/bullet-chevron-circle-green.png") no-repeat scroll 0 0 / 24px auto;
	color: #ffffff;
	margin-bottom: 20px; 
	padding-left: 34px; 
	padding-top: 0;
}
h1 {
    font-family: "Caslon-Bold", Georgia, serif;
    font-size: 92px;
    font-weight: 400;
    margin: 0 auto 30px;
    text-align: center;
    color: #c00;
}
h3 {
    color: #333;
    font-family: "Gibson-SemiBold", Helvetica, Arial, sans-serif;
    font-size: 30px;
    font-weight: 400;
}
/*
.showcase-intro {
	background-attachment: fixed;
	background-color: #111111; 
	background-image: url("https://s3.amazonaws.com/prediction2021event.com/portal/portal-bg.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	margin: 0 auto;
	max-width: none;
	overflow: scroll;
	position: relative;
	-webkit-transition: opacity 1s ease 0s;
	-ms-transition: opacity 1s ease 0s;
	transition: opacity 1s ease 0s;
	width: 100%;
}
*/
.showcase-inner {
    color: #fff;
    margin: 0 auto;
    max-width: 1300px;
    padding: 48px;
    width: 100%;
}
.showcase-inner h3 {
	color: #ffffff;
	font-family: "Gibson", Helvetica, Arial, sans-serif;
	font-size: 32px;
	line-height: 1.2;
	margin: 0 auto;
	text-align: center;
	text-shadow: 1px 1px 3px rgba(0,0,0,.5);
}
footer {
	font-size: .85rem;
	padding: 1rem;
	text-align: center;
}
footer p {
    color: #ffffff;
    font-size: 12px;
    line-height: 1.25;
    margin: 10px auto;
	max-width: 800px;
}
.btn {
	cursor: pointer;
	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
form {
    margin: 30px auto;
}
.form-group {
    text-align: center;
}
.form-control {
	box-shadow: none; 
	display: block;
	font-family: "Gibson-SemiBold", Helvetica, Arial, sans-serif;
	font-size: 24px;
	height: auto;
	line-height: 1;
	max-width: 480px;
	width: 100%;
}
.form-button {
    background-color: #19A500;
    border: 1px solid #1cb800;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    margin: 16px auto;
    min-height: 62px;
    padding: 16px 14px;
    text-decoration: none;
}
.form-button:hover, .form-button:active, .form-button:focus {
	color: #ffffff;
	background-color: #1cb800;
/*	border-color: #f56200;*/
}
input.form-control {
	background-color: #fcffec;
	border: 1px solid #cccccc;
	border-radius: 0;
	box-shadow: 1px 1px 6px rgba(0,0,0,.1) inset;
	margin: 0 auto;
	padding: 18px;
	vertical-align: middle;
}
input.form-control::-moz-placeholder {
	color: #666666;
}
input.form-control:-ms-input-placeholder {
	color: #666666;
}
input.form-control::-webkit-input-placeholder {
	color: #666666;
}
input.form-control::placeholder {
	color: #666666;
}
input[type="email"] {
	font-size: 24px;
	color: #212529;
}
.eventLogo {
	max-width: 480px;
	width: 100%;
}
.webinar-precheck {
	background-color: rgba(0,0,0,.7);
	border: 2px solid rgba(255,255,255,.3);
	color: #ffffff;
	margin: 60px auto 0;
	padding: 32px 32px 16px 32px;
	max-width: 810px;
	width: 100%;
}

/* ----------- iPad 1, 2, Mini and Air ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
	.showcase-intro {
		height: 100vh;
		margin: 0 auto;
		max-width: none;
		overflow: scroll;
		position: relative;
		width: 100%;
	}
	.showcase-inner {
		position: absolute;
		left: 50%;
		top: 50%; 
		-webkit-transform: translateX(-50%) translateY(-50%); 
		transform: translateX(-50%) translateY(-50%); 
	}
	.webinar-precheck {
		display: none;
	}
}
/* ----------- iPad 3, 4 and Pro 9.7" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
	.showcase-intro {
		height: 100vh;
		margin: 0 auto;
		max-width: none;
		overflow: scroll;
		position: relative;
		width: 100%;
	}
	.showcase-inner {
		position: absolute;
		left: 50%;
		top: 50%; 
		-webkit-transform: translateX(-50%) translateY(-50%); 
		transform: translateX(-50%) translateY(-50%); 
	}
	.webinar-precheck {
		display: none;
	}
}
/* ----------- iPad Pro 10.5" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 834px) 
  and (max-device-width: 1112px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.showcase-intro {
		height: 100vh;
		margin: 0 auto;
		max-width: none;
		overflow: scroll;
		position: relative;
		width: 100%;
	}
	.showcase-inner {
		position: absolute;
		left: 50%;
		top: 50%; 
		-webkit-transform: translateX(-50%) translateY(-50%); 
		transform: translateX(-50%) translateY(-50%); 
	}
	.webinar-precheck {
		display: none;
	}
}
/* ----------- iPad Pro 12.9" ----------- */
/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 1024px) 
  and (max-device-width: 1366px)
  and (-webkit-min-device-pixel-ratio: 2) {
	.showcase-intro {
		height: 100vh;
		margin: 0 auto;
		max-width: none;
		overflow: scroll;
		position: relative;
		width: 100%;
	}
	.showcase-inner {
		position: absolute;
		left: 50%;
		top: 50%; 
		-webkit-transform: translateX(-50%) translateY(-50%); 
		transform: translateX(-50%) translateY(-50%); 
	}
	.webinar-precheck {
		display: none;
	}
}
@media only screen and (max-width: 1024px) {
	.webinar-precheck {
		display: none;
	}
}
@media only screen and (max-width: 720px) {
	.br-hide {
		display: none;
	}
}
@media only screen and (max-width: 480px) {
	form {
		margin-bottom: 0;
	}
	.showcase-inner {
		padding: 48px 24px 24px;
	}
	.showcase-inner h3 {
		font-size: 26px;
	}
}
@media only screen and (max-width: 320px) {
	.showcase-inner h3 {
		font-size: 22px;
	}
	input.form-control {
		padding: 16px;
	}
	.form-control {
		min-height: 50px;
	}
	.form-control, input[type="email"] {
		font-size: 20px;
	}
}
@media only screen and (max-width: 300px) {
	.showcase-inner h3 {
		font-size: 20px;
	}
	.form-control, input[type="email"] {
		font-size: 18px;
	}
}